<div>
    <h4 style="text-align:center ; color:white ;">Info About the Application</h4>
    <div style="color: white;">
        <h5 style="margin-top: 50px;">* Task management is the tool for creating and managing  task through the project's lifecycle. <br>
            * Individuals use task management tools like a pen and a pad or software tools to organize and accomplish personal goals for every day's chores.
        </h5>
    </div>
    <div style="color: white; margin-top: 50px;">
        <h3>How to Operate/Work</h3>
        <h5>#: Login if already an User</h5>
        <h5>#: If not already a regersitered User than create a new Account</h5>
        <h5>#: Two types of Login are avaialble</h5>
        <h5 style="margin-left:50px ;">* Admin</h5>
        <h5 style="margin-left:50px ;">* Employee</h5>   
    </div>

    <div  style="color: white; margin-top: 50px;">
        <h3>Role Based Pages</h3>
        <h5>Person Logged in as Admin. the person is redirected to the dashboard and perform the mentioned operation</h5>
        <div style="margin-left:50px ;">
            <h6>1: Overview of the Dashboard</h6>
            <h6>2: OverView Of the Projects</h6>
        </div>
        <h5>Person logged in as Employee. the person is redirected to the task and perform the mentioned operation </h5>
        <div style="margin-left:50px ;">
            <h6>1: Overview of the Task</h6>
        </div>
    </div>
</div>
