<div class="row">
    <div class="col-md-8 col-xl-6 mx-auto">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitClick()">
            <div class="card mt-1">
                <div class="card-header">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                   

                    

                    <div class="form-group form-row">
                        <label for="email" class="col-md-4 col-form-label">Email:</label>
                        <div class="col-md-8">
                            <input type="text" name="email" id="email" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{
                                'is-invalid': signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted),
                                'is-valid': signUpForm.get('email').valid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) }">

                                <span class="text-danger" *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) && signUpForm.get('email').errors?.required">Email can't be blank</span>

                                <span class="text-danger" *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) && signUpForm.get('email').errors?.email">Email is invalid</span>

                                <span class="text-danger" *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) && signUpForm.get('email').errors?.uniqueEmail">Email already exists</span>
                        </div>
                    </div>
                
                    <div class="form-group form-row">
                    <label for="password" class="col-md-4 col-form-label">Password:</label>
                    <div class="col-md-8">
                      <input type="password" name="password" id="password" placeholder="Password" class="form-control" formControlName="password" [ngClass]="{
                        'is-invalid': signUpForm.get('password').invalid && (signUpForm.get('password').dirty || signUpForm.get('password').touched || signUpForm.submitted),
                        'is-valid': signUpForm.get('password').valid && (signUpForm.get('password').dirty || signUpForm.get('password').touched || signUpForm.submitted) }">
        
                      <span class="text-danger" *ngIf="signUpForm.get('password').invalid && (signUpForm.get('password').dirty || signUpForm.get('password').touched || signUpForm.submitted) && signUpForm.get('password').errors?.required">Password can't be blank</span>
                    </div>
                  </div>

                      <div class="form-group form-row">
                        <label for="confirmPassword" class="col-md-4 col-form-label">Confirm Password:</label>
                        <div class="col-md-8">
                          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" [ngClass]="{
                            'is-invalid': signUpForm.get('confirmPassword').invalid && (signUpForm.get('confirmPassword').dirty || signUpForm.get('confirmPassword').touched || signUpForm.submitted),
                            'is-valid': signUpForm.get('confirmPassword').valid && (signUpForm.get('confirmPassword').dirty || signUpForm.get('confirmPassword').touched || signUpForm.submitted) }">
            
                          <span class="text-danger" *ngIf="signUpForm.get('confirmPassword').invalid && (signUpForm.get('confirmPassword').dirty || signUpForm.get('confirmPassword').touched || signUpForm.submitted) && signUpForm.get('confirmPassword').errors?.required">Confirm Password can't be blank</span>
            
                          <span class="text-danger" *ngIf="signUpForm.invalid && (signUpForm.dirty || signUpForm.touched || signUpForm.submitted) && signUpForm.errors?.compareValidator">Password and Confirm Password do not match</span>
                        </div>
                      </div>
                </div>
                <!-- {{signUpForm.value | json}} -->
                <div class="card-footer">
                    <button class="btn btn-success float-right">Create Account</button>
                </div>
            </div>
            
        </form>
    </div>
</div>