<h1>Project</h1>
<div class="row">
    <div class="col-8 mx-auto" >
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            New Project
        </button>
        <table class="table">
            <thead>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Date</th>
                <th>Team</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects;let i =index">
                    <td>{{project.projectID}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.dateOfStart}}</td>
                    <td>{{project.teamSize}}</td>
                    <td><button class="btn btn-warning" (click)="edit($event,i)" data-toggle="modal" data-target="#editModal">Update</button></td>
                    <td><button class="btn btn-danger" (click)="delete($event,i)" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="background-color: blue;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white;" >New Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="txtNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtNewProjectID" style="width:100px ;" 
                        class="form-control" placeholder="Project ID" name="ProjectID"
                        [(ngModel)]="newProject.projectID"
                        
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtNewProjectName"
                        class="form-control" placeholder="Project Name" 
                        name="Project Name"  [(ngModel)]="newProject.projectName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">DOS</label>
                    <div class="col-sm-8">
                        <input type="date" id="txtNewDateOfStart" style="width:150px ;" 
                        class="form-control" placeholder="Date of Start" 
                        name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="txtNewTeamSize" class="col-sm-4 col-form-label">TeamSize</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtNewTeamSize" style="width:150px ;" 
                        class="form-control" placeholder="Team Size" 
                        name="TeamSize"  [(ngModel)]="newProject.teamSize">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save</button>
            </div>
          </div>
        </div>
      </div>
</form>



<!-- update table -->
<form>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="background-color: blue;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white;" >Update Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="txteditProjectID" class="col-sm-4 col-form-label">Project ID</label>
                    <div class="col-sm-8">
                        <input type="text" id="txteditProjectID" style="width:100px ;" 
                        class="form-control" placeholder="Project ID" name="ProjectID"
                        [(ngModel)]="updateProject.projectID" disabled="disabled"
                        
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txteditProjectName" class="col-sm-4 col-form-label">Project Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="txteditProjectName"
                        class="form-control" placeholder="Project Name" 
                        name="Project Name"  [(ngModel)]="updateProject.projectName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txteditDateOfStart" class="col-sm-4 col-form-label">DOS</label>
                    <div class="col-sm-8">
                        <input type="date" id="txteditDateOfStart" style="width:150px ;" 
                        class="form-control" placeholder="Date of Start" 
                        name="DateOfStart" [(ngModel)]="updateProject.dateOfStart">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="txteditTeamSize" class="col-sm-4 col-form-label">TeamSize</label>
                    <div class="col-sm-8">
                        <input type="text" id="txteditTeamSize" style="width:150px ;" 
                        class="form-control" placeholder="Team Size" 
                        name="TeamSize"  [(ngModel)]="updateProject.teamSize">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="update()">Save</button>
            </div>
          </div>
        </div>
      </div>
</form>



<!--delete  -->

<form>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="background-color: blue;">
              <h5 class="modal-title" id="exampleModalLabel" style="color: white;" >Delete Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p><b>Are Sure you want to delete</b></p>
                <div class="form-group row">
                    <label for="txtdeleteProjectID" class="col-sm-4 col-form-label">Project ID</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtdeleteProjectID" style="width:100px ;" 
                        class="form-control" placeholder="Project ID" name="ProjectID"
                        [(ngModel)]="deleteProject.projectID" disabled="disabled"
                        
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtdeleteProjectName" class="col-sm-4 col-form-label">Project Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtdeleteProjectName"
                        class="form-control" placeholder="Project Name" 
                        name="Project Name"  [(ngModel)]="deleteProject.projectName" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtdeleteDateOfStart" class="col-sm-4 col-form-label">DOS</label>
                    <div class="col-sm-8">
                        <input type="date" id="txtdeleteDateOfStart" style="width:150px ;" 
                        class="form-control" placeholder="Date of Start" 
                        name="DateOfStart" [(ngModel)]="deleteProject.dateOfStart" disabled="disabled">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="txteditTeamSize" class="col-sm-4 col-form-label">TeamSize</label>
                    <div class="col-sm-8">
                        <input type="text" id="txteditTeamSize" style="width:150px ;" 
                        class="form-control" placeholder="Team Size" 
                        name="TeamSize"  [(ngModel)]="deleteProject.teamSize" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteConfirm()">Delete</button>
            </div>
          </div>
        </div>
      </div>
</form>